<div class="px-4 py-6 sm:px-0 mx-auto lg:w-1/2">
  <div class="flex flex-col w-full filter-list">
    <div class="flex items-center justify-between">
      <div class="text-2xl font-semibold leading-tight">800m</div>
      <div class="-mr-3">
        <button
          class="flex hover:bg-gray-200 p-2 rounded items-center justify-between"
          mat-icon-button
          [matMenuTriggerFor]="cardMenu"
        >
          <span class="pl-1">Sort</span>
          <mat-icon class="icon-size-5 ml-1 text-gray-400">expand_more</mat-icon>
        </button>
        <mat-menu #cardMenu="matMenu">
          <ng-container *ngFor="let option of menuOptions | keyvalue">
            <mat-divider *ngIf="option.value.showDivider"></mat-divider>
            <button
              mat-menu-item
              [class.font-medium]="option.value.active"
              [class.text-gray-400]="!option.value.active"
              (click)="onMenuItemClick(option.value)"
            >
              {{ option.value.label }}
            </button>
          </ng-container>
        </mat-menu>
      </div>
    </div>
    <div class="flex flex-col my-2">
      <div
        *ngFor="let performance of performances$ | async"
        class="flex my-2 justify-between"
      >
        <div class="flex flex-col">
          <div class="flex flex-row">
            <span class="w-[125px]"> {{ performance.name }}</span>
            <span class="font-medium bg-gray-200 text-gray-900 py-1 px-2 rounded text-xs ml-2">{{
              performance.year
            }}</span>
          </div>
          <div class="text-gray-400 italic">{{ performance.program }}</div>
        </div>
        <div class="text-secondary text-md">{{ performance.value }}</div>
      </div>
    </div>
  </div>
</div>
